.plan__item:not(:last-child){
    margin-right: 30px;
  }
  .plan__list{
    display: flex;
  }
  
  
  .plan__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  }
  
  .plan__text{
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  
  letter-spacing: 0.03em;
  
  color: var(--text-color);
  }
  
  
  
  
  .plan__icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .plan__icon-list:last-child{
    margin-right: 0;
  }